/* 전체 페이지에 대한 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #5383E8;
    color: #FFFFFF;

}


/* 검색 섹션  */
main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*검색 버튼 스타일*/
main button[type="submit"] {
    padding: 5px 10px;
    background: #28344E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

/* 사이드바 스타일 */
aside {
    background-color: #FFB900;
    color: #333333;
}

header .nav-link {
    color: #FFFFFF;
}


.row .col .position-absolute {
    font-weight: bold;
}

.row .col .col-12 {
    border: none;
}

.position-absolute {
    font-size: larger;
}

#home {
    font-size: large;
    margin: 0;
    background-color: #5383E8;
    padding: 5px;
    color: #FFFFFF;
    border: none;
}

#login {
    font-size: medium;
    background-color: #5383E8
}

/* 화면 크기가 커질 때 */
@media screen and (min-width: 1024px) {

    .btn {
        padding: 10px
    }

    .container-fluid {
        padding: 20px; /* 원하는 값으로 조정 */
        margin: 20px; /* 원하는 값으로 조정 */
    }


    .nav-link {
        font-size: larger; /* 더 큰 텍스트 사이즈로 조정 */
    }

    .nav-underline {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: larger;
        margin: 0;
    }

    .nav-underline .nav-item {
        padding: 15px;
    }

    #home {
        font-size: xx-large;
    }

    #login {
        font-size: x-large;
    }

    .row .col {
        max-width: 250px;
        max-height: 250px;
    }

}


