/* 리스트의 아이템 중 클릭 상태인 것(커뮤니티) */
div.header-bottom ul.menu-list > li > a > div.community {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(커뮤니티 제외 나머지) */
.tier:hover, .rank:hover, .home:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(커뮤니티 제외 나머지) */
.tier, .rank, .home {
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

.post {
    background: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    margin-bottom: 8px;
    position: relative;
}

.post-top {
    padding: 24px 16px;
    background: #FFF;
    border-bottom: 1px solid #ebeef1
}

.post-top > h1 {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    word-break: break-all;
}


.post-details {
    display: flex;
    flex-direction: column;
}

.post-detail {
    color: #7b858e;
    display: flex;

}


.post-detail span a {
    color: inherit;
    text-decoration: none;

}

.post-detail span {
    padding-left: 8px;
    float: left;
    line-height: 24px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.post-detail > .first-detail {
    padding-left: 0;

}

.post-detail > .second-detail::before, .post-detail > .third-detail::before {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #ebeef1;
    height: 12px;
    content: "";
    margin-right: 8px;
}

.post-detail > .third-detail {

    flex: 1;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-body > div {
    padding: 24px 16px;
}

div > div > article {
    box-sizing: border-box;

}

article > p > img {

    width: 100%;
    margin: 4px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    max-width: 100%;
}

.post .post-like {

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #ebeef1;
    gap: 12px;
}

.post-like > .post-button {
    width: 88px;
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #dddfe4;
    color: #7b858e;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 0 12px;
}

div>button > img+span{
    margin-left: 4px;
}
div>button > img{
    width: 16px;
    height: 16px;
}
#scrap{
    width: 60px;
}

main{
    margin: auto;
    max-width: 900px;
}
