body{
    background-color: #EBEEF1;
}
p{
    margin: 0;
}
hr{
    margin: 0;
}

/* ------------------- header ----------------- */

header{
    height: 50px;
    background-color: #28344E;
    margin-bottom: 10px;
}
#header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#closeBtn{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    opacity: 0.5;
}
#evaluateTitle{
    display: flex;
    font-size: 20px;
    color: white;
    gap: 10px;
    margin-left: 30px;
    align-items: center;
}

/* ------------------- body ----------------- */
/* ------------------- first(main) rating ----------------- */

.contents{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}
#first p:first-child{
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
#first p:nth-child(2){
    font-size: 15px;
    margin-bottom: 10px;
}
#starsArea{
    padding-bottom: 10px;
}
.stars{
    width: 40px;
}
#ratingComment{
    padding-bottom: 20px;
    opacity: 0.6;
}

/* ------------------- second(category) rating ----------------- */

#secondTitle{
    display: flex;
    padding: 10px;
}
#secondTitle p:first-child{
    font-weight: bold;
}
.categoryBtn{
    border: none;
    margin: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
}

/* ------------------- third(keyword) rating button/area ----------------- */

#third{
    position: relative;
}
#thirdTitle{
    display: flex;
    gap: 7px;
    padding: 10px;
}
#thirdTitle p:first-child{
    font-weight: bold;
}
#thirdTitle p:last-child{
    opacity: 0.5;
}
#keywordList{
    display: flex;
    flex-wrap: wrap;
}
.keywordBtn{
    border: none;
    margin: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
}
.picked{ /* keyword가 선택되면 추가됨 -> 한 라인에 하나의 버튼만 보아게 함*/
    width: 100%;
}
.unselected{
    color: #5383E8;
    
}
.selected{
    background-color: #5383E8;
    color: white;

}

/* ------------------- third(category) rating bar ----------------- */
.ratingbar-area{
    width: 95%;
    height: 80px;
    background-color: #5383E8;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    margin: 5px auto;
}

.bar{
    width: 80% ;
    height: 5px;
    background-color: #EBEEF1;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-point{
    width: 15px;
    height: 15px;
    background-color: #EBEEF1;
    border-radius: 50%;
}
.bar .picked{
    background-color: #FFB900;
    width: 20px;
    height: 20px;
}
.bar-comment-area{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #EBEEF1;
    font-size: 14px;
}
/* bar형 ui에서 해당ㅇ이 선택되면 글자색을 바꿈*/
.bar-comment-area .bold{
    font-weight: bold;
    color: #FFB900; 
}
.hidden{
    display: none;
}

/* ------------------- fourth Btn area ----------------- */

#submitBtn{
    background-color: #28344E;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    
    color: white;
    font-size: 20px;

}