/* 전체 페이지에 대한 기본 스타일 */
body {
    background-color: #5383E8;
    color: #FFFFFF;
}



.row .col .position-absolute {
    font-weight: bold;
}

.row .col .col-12 {

    border: none;
    border-radius: 15px;
}

/*배경색 */
main {
    background-color: #EBEEF1;
}

#header {
    background-color: #5383E8;
}


.cell {
    padding: 0.5rem;
}

.img {

    border-radius: 10px;
    background-color: white;
}

.cell-button > .label {
    font-size: small;
    padding: 1rem;
    color: black;
    opacity: 0.9;
}

.cell-button > .img {
    padding: 1.25rem;
}




/* 리스트의 아이템 중 클릭 상태인 것(홈) */
div.header-bottom ul.menu-list > li > a > div.home {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier:hover, .rank:hover, .community:hover, .recommend:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier, .rank, .community, .recommend {
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 뽑기 창 시작 */
.section-center {
    display:flex;
    justify-content: center;
}
@media only screen and (max-width: 1024px) {
    .random-drawing {
        margin: 0 15px;
        min-width: 260px;
        width: 100%;
        text-align: center;
    }
    #drawingResult {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        border: 2px solid #0a53be;
        border-radius: 5px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1025px) {
    .random-drawing {
        width: 70%;
        min-width: 450px;
        max-width: 900px;
        text-align: center;
    }
    #drawingResult {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        border: 2px solid #0a53be;
        border-radius: 5px;
        overflow: hidden;
    }
}
.random-drawing > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.random-drawing > div > span {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 0;
}
#cuisineSelect{
    font-size: 16px;
    margin-left: 10px;
    padding: 2px 0;
}
.drawing-button {
    padding: 5px 12px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #FFF;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
#drawingButton {
    background-color: #5383E8;
}
#stopButton {
    background-color: #cb1717;
}
.drawing-result > a {
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}