@import "variables.css";


/* 전체 페이지에 대한 기본 스타일 */
body {
    display: flex;

}
html{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh; /* 화면의 전체 높이 */
}

.row .col .position-absolute {
    font-weight: bold;
}

.row .col .col-12 {

    border: none;
    border-radius: 15px;
}

main {
    flex: 1; /* main 태그가 가능한 많은 공간을 차지하도록 함 */
    background-color: white;
}

.cell {
    padding: 0.5rem;
}

.img {

    border-radius: 10px;
    background-color: white;
}

.cell-button > .label {
    font-size: small;
    padding: 1rem;
    color: black;
    opacity: 0.9;
}

.cell-button > .img {
    padding: 1.25rem;
    background-color: #f9f6f3;
}




/* 리스트의 아이템 중 클릭 상태인 것(홈) */
div.header-bottom ul.menu-list > li > a > div.home {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier:hover, .rank:hover, .community:hover, .recommend:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier, .rank, .community, .recommend {
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/*접시 이미지 나타나는 효과*/
#plate {
    opacity: 0;
    transform: rotate(-15deg); /* 초기 회전 각도 */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* opacity와 transform 변경을 위한 transition 설정 */
}

#plate.on {
    opacity: 1;
    transform: rotate(0deg); /* 최종 회전 각도 */
}

#community{
    opacity: 0;
    transition: opacity 2s ease-in-out
}
#community.on{
    opacity: 1;
}
#phrase{
    opacity: 0;
    transition: opacity 1.5s ease-in-out
}
#phrase.on{
    opacity: 1;
}

#firstComment {
    opacity: 0;
    transform: translateX(20px); /* 오른쪽에서 시작 */
    transition: opacity 1.5s ease-in-out, transform 2.5s ease-in-out;
}

#firstComment.on {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}

#secondComment {
    opacity: 0;
    transform: translateX(20px); /* 오른쪽에서 시작 */
    transition: opacity 2s ease-in-out, transform 2.7s ease-in-out;
}

#secondComment.on {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}

#thirdComment {
    opacity: 0;
    transform: translateX(20px); /* 오른쪽에서 시작 */
    transition: opacity 2.5s ease-in-out, transform 2.7s ease-in-out;
}

#thirdComment.on {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}

#transferButton {
    opacity: 0;
    transform: translateX(20px); /* 오른쪽에서 시작 */
    transition: opacity 2.5s ease-in-out, transform 2.7s ease-in-out;
}

#transferButton.on {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}


.swiper-slide:hover {
    cursor: default !important;
}


#restaurantImageContainer {
    position: relative;
    width: 100%; /* 컨테이너 너비를 부모 요소에 맞춤 */
    padding-top: 75%; /* 너비와 동일한 높이 설정 */
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
}

#restaurantImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
}


#restaurantImageContainer{
    display: flex;
    justify-content: center;
}
/* 텍스트 커서 깜빡임 없애기 */
body {
    caret-color: transparent;
}

h2 {
    font-size: 3rem;
    line-height: 5rem;
}


/*음식 버튼 이미지 hover*/
.cell-button .label {
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    color: white; /* 글자 색상 */
    font-size: 20px; /* 글자 크기 */
    opacity: 0; /* 기본적으로 숨김 */
    transition: opacity 0.5s ease; /* 부드러운 효과 */
    height: 100%; /* 부모 요소와 동일한 높이 */
    width: 100%; /* 부모 요소와 동일한 너비 */
}

.cell-button:hover .label {
    opacity: 1; /* 마우스 오버 시 보임 */
}

img:hover {
    filter: brightness(50%); /* 마우스 오버 시 이미지 어둡게 */
}

/*화면 꽉 채우고, 푸터 아래에 붙이기 */
html {
    height: 100vh; /* 뷰포트 높이의 100%로 설정 */
}

body {
    min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: flex;
    flex-direction: column;
}

footer{
    flex:1;
}
/*배너 높이*/
@media only screen and (max-width: 767px) {
    /* 모바일화면 */
    .top-banner{
        height: 200px;
    }

}

@media only screen and (min-width: 768px) {
    /* 모바일화면 */
    .top-banner{
        height: 250px;
    }

}


@media only screen and (min-width: 1024px) {
    /* pc화면 */
    .top-banner{
        height: 300px;
    }
}

.firstSectionComment,.secondSectionComment {
    color: var(--main-color);
}