/* ------------------- 화면 구성 ----------------- */

@media only screen and (max-width: 1024px) { /* 모바일화면 */
    #mainContents {
        margin: 10px auto;
        min-width: 260px;
        width: 98%;
    }
    .gray-border-circular{
        padding: 10px;
    }
    #nickname{
        padding: 5px;
    }
}

@media only screen and (min-width: 1025px) { /* pc화면 */
    #mainContents {
        width: 90%;
        margin: 10px auto;
        min-width: 450px;
    }
    .gray-border-circular{
        padding: 50px;
    }
}
/* ------------------- 화면 구성 ----------------- */
.hr{
    margin: 0;
    text-align: center;
}
#navBar{
    overflow-x: auto;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 110px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
#navBar div{
    display: inline-block;
}
.navbar-title{
    cursor: pointer;
}
.navbar-title p{
    margin: 10px 20px;
}
.selected{
    color: #0a3622;
    border-bottom: 2px solid #0a3622;
}
.hidden{
    display: none;
}
.pp{
    width: 100%;
    margin: 0;
}

/*----------------- 내정보 영역(Area1) ---------------*/
.gray-border-circular{
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
}
.margin25px{
    margin-bottom:50px;
}
#area1Top p{
    color: black;
    margin: 10px;
    width: 120px;
}
#area1Contents div{
    margin-bottom: 15px;
}
#profileImgArea{
    display: flex;
}
#profileimg{
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 5px;
}
#nicknameArea{
    display: flex;
}
#nickname{
    width: 60%;
    border-radius: 5px;
    margin-right: 15px;
}
#saveBtnArea{
    display: flex;
    justify-content: flex-end;
}
#saveBtn{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    padding: 0 10px;
}
#countInfo p{
    margin: 15px 0;
}