/* ------------------- 화면 구성 ----------------- */

@media only screen and (max-width: 1024px) { /* 모바일화면 */
    #mainContents {
        margin: 10px auto;
        min-width: 260px;
        width: 98%;
    }
    .store-img{
        width: 80px;
        height: 80px;
        border-radius: 5px 5px 0px 0px;
    }
    .store-name{
        color: black;
        font-size: 11px;
        padding: 5px;
        line-height: 1.5;
        text-align: center;
    }
    .cards{
        width: 80px;
        height: 140px;
        display: inline-block;
        background-color: #f6f8f6;
        border-radius: 5px 5px 0px 0px;
        margin: 5px auto;
    }
}

@media only screen and (min-width: 1025px) { /* pc화면 */
    #mainContents {
        width: 90%;
        margin: 10px auto;
        min-width: 450px;
    }
    .store-img{
        width: 120px;
        height: 120px;
        border-radius: 5px 5px 0px 0px;
    }
    .store-name{
        color: black;
        font-size: 14px;
        padding: 5px;
        line-height: 1.5;
        text-align: center;
    }
    .cards{
        width: 120px;
        height: 200px;
        display: inline-block;
        background-color: #f6f8f6;
        border-radius: 5px 5px 0px 0px;
        margin: 10px;
    }
}
/* ------------------- 화면 구성 ----------------- */
.hr{
    margin: 0;
    text-align: center;
}
#navBar{
    overflow-x: auto;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 110px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#navBar div{
    display: inline-block;
}
.navbar-title p{
    margin: 10px 20px;
}
.selected{
    color: #0a3622;
    border-bottom: 2px solid #0a3622;
}
.hidden{
    display: none;
}
.pp{
    width: 100%;
    margin: 0;
}

/*-----------------맛집평가 관련---------------*/
.contents-area{
    justify-content: space-between;
    text-align: center;
}
