/* 리스트의 아이템 중 클릭 상태인 것(랭크) */
div.header-bottom ul.menu-list > li > a > div.rank {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/* 리스트의 아이템 중 클릭 상태가 아닌 것(랭크 제외 나머지) */
.tier:hover,.home:hover,.community:hover,.recommend:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/* 리스트의 아이템 중 클릭 상태가 아닌 것(랭크 제외 나머지) */
.tier, .home,.community,.recommend{
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}