/* 공통 상단 탭 관련 코드 */
/* 리스트의 아이템 중 클릭 상태인 것(추천) */
div.header-bottom ul.menu-list > li > a > div.recommend {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(추천 제외 나머지) */
.tier:hover, .rank:hover, .community:hover, .home:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* 리스트의 아이템 중 클릭 상태가 아닌 것(추천 제외 나머지) */
.tier, .rank, .community, .home {
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}

/* -------------------- 뽑기 창 시작 --------------------*/

.section-center {
    display:flex;
    justify-content: center;
}
@media only screen and (max-width: 1024px) {
    .random-drawing {
        margin: 0 15px;
        min-width: 260px;
        width: 100%;
        text-align: center;
    }
    #drawingResult {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        border: 2px solid #0a53be;
        border-radius: 5px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1025px) {
    .random-drawing {
        width: 70%;
        min-width: 450px;
        max-width: 900px;
        text-align: center;
    }
    #drawingResult {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        border: 2px solid #0a53be;
        border-radius: 5px;
        overflow: hidden;
    }
}
.random-drawing > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.random-drawing > div > span {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 0;
}
#cuisineSelect{
    font-size: 16px;
    margin-left: 10px;
    padding: 2px 0;
}
.drawing-button {
    padding: 5px 12px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #FFF;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
#drawingButton {
    background-color: #5383E8;
}
#stopButton {
    background-color: #cb1717;
}
.drawing-result > a {
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

/*-----------------------------------------------*/
@media only screen and (max-width: 1024px) {
    #mainContents {
        margin: 10px auto;
        min-width: 260px;
        width: 98%;
    }
}
@media only screen and (min-width: 1025px) {
    #mainContents {
        width: 70%;
        margin: 10px auto;
        min-width: 450px;
        max-width: 900px;
    }
}

#recommendArea{
    background-color: white;
}
#recommendTitle{
    font-size: 17px;
    font-weight: 600;
    padding: 8px;
}
#wonderingIcon{
    width: 20px;

}

.option{
    display: flex;
}

#recommendBtn{
    width: 100%;
}