
/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier:hover,.rank:hover,.community:hover,.home:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.tier, .rank,.community,.home {
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
.container-fluid{
    display: flex;
    justify-content: center;
}