@media only screen and (max-width: 1024px) {
    #categoryBackground, #tierChartmain {
        margin: 0 10px;
        min-width: 260px;
    }

    header {
        min-width: 260px;
    }
}

@media only screen and (min-width: 1025px) {
    #categoryBackground, #tierChartMain {
        width: 70%;
        min-width: 450px;
        max-width: 900px;
    }

    header {
        min-width: 450px;
    }
}

/* 리스트의 아이템 중 클릭 상태인 것(홈) */
div.header-bottom ul.menu-list > li > a > div.tier {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.home:hover,.rank:hover,.community:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}
/* 리스트의 아이템 중 클릭 상태가 아닌 것(홈 제외 나머지) */
.home, .rank,.community {
    display: flex;
    align-items: center;
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 22px;
    padding: 6px 0 5px;
}


/* category 고르기 창 */
div.category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
}

div.fixed-category {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

div.category > div.category-background {
    background-color: #FFF;
}

div.category > div.category-background > div.category-top {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #cdd0d3;
    border-top: 1.5px solid #cdd0d3;
}

div.category > div.category-background > div.category-top > span.category-text {
    top: 0;
    left: 0;
    padding: 10px 0;
    padding-left: 10px;
    align-items: center;
    font-weight: 550;
}

div.category > div.category-background > div.category-top > label.category-check-btn {
    display: flex;
    flex: 1;
    padding: 10px 0;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

div.category > div.category-background > div.category-top > label.category-check-btn > span.category-check-btn-text {
    font-size: 13px;

}

div.category div.category-list {
    border-bottom: 1.5px solid #cdd0d3;
    padding: 13px 12px;
}

div.category div.category-list > div {
    display: flex;
    align-items: center;
}

div.category div.category-list > div.cuisine {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

div.category div.category-list > div > span.text {
    display: flex;
    font-size: 13px;
    color: #111;
}

div.category div.category-list > div > div.buttons {
    display: flex;
    align-items: center;
    flex: 1;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 10px;
}

div.category div.category-list > div > div.buttons > span > img {
    vertical-align: middle;
}

div.category div.category-list > div > div.buttons > span > span {
    vertical-align: middle;
}

div.category div.category-list span.selected {
    display: inline-block;
    margin: 4px 7px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ECF2FF;
    color: #5383E8;
    font-size: 15px;
    font-weight: 570;
}

div.category div.category-list span.unselected {
    display: inline-block;
    margin: 4px 7px;
    padding: 5px 10px;
    border-radius: 4px;
    color: #222;
    font-size: 15px;
    font-weight: 500;
}

div.category div.category-list span.unselected:hover {
    background-color: #EEE;
}

div.category div.category-list span > img {
    height: 20px;
    width: 20px;
}

/* 티어표 */
main {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

main > div.tier-chart > table.tier-table {
    table-layout: auto;
    width: 100%;
    border-radius: 4px;
}

main colgroup {
    display: table-column-group;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    position: relative;
    user-select: none;
    background-color: #f7f8fa;
    color: gray;
    font-size: 12px;
    line-height: 17px;
    border-bottom: 1px solid #EBEEF1;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: normal;
    vertical-align: middle;
    padding: 4px;
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    margin: 0;
    display: table-cell;
    background-color: #FFF;
    text-align: center;
}

tbody > tr {
    border-bottom: 1.5px solid #EBEEF1;
}

tbody > tr > td.middle-align {
    font-size: 16px;
    line-height: 20px;
    text-align: center!important;
}

tbody > tr > td.left-align {
    font-size: 16px;
    line-height: 20px;
    text-align: left!important;
}

tbody > tr > td > div{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
}

/* 티어표 이미지 */
tbody > tr > td > div > img {
    height: 40px;
    width: 40px;
    margin-right: 14px;
}

/* footer 스타일 */
footer{
    margin-top: 1rem;
}
/* 식당 이름에 링크 스타일 제거*/
.restaurant-link {
    color: inherit; /* 상위 요소의 글자 색상을 상속받습니다 */
    text-decoration: none; /* 밑줄을 제거합니다 */
}
/* 종류에 링크 스타일 제거*/
.cuisine-link{
    color: inherit; /* 상위 요소의 글자 색상을 상속받습니다 */
    text-decoration: none;
}

