/* 검색 */
@media only screen and (min-width: 992px) {
    #searchButton1 {
        display: flex;
        width: 170px;
        height: 35px;
        margin-right: 25px;
        border-radius: 5px;
        border: #444 solid 1px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #searchButton2 {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    #searchButton1 {
        display: flex;
        width: 200px;
        height: 35px;
        margin-right: 10px;
        border-radius: 5px;
        border: #444 solid 1px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #searchButton2 {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    #searchButton1 {
        display: none
    }
    #searchButton2 {
        display: flex;
        width: 37px;
        height: 37px;
        margin-right: 10px;
        border-radius: 5px;
        border: #444 solid 1px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
}
#searchButton1 img {
    height: 18px;
    margin: 0;
    padding: 0 5px 0 3px;
}
#searchButton1 p {
    flex: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 14px;
    text-align: start;
}
#searchButton2 img {
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
}
/* 로그인 버튼 */
.login-button {
    white-space: nowrap;
    border-radius: 15px;
    height: 37px;
    width: 80px;
}
.login-button span {
    margin-top: -5px;
    margin-left: -4px;
}