:root {
    --main-color: #1d8058;
    --main-light-color: #d6faea;
    --main-hover-color: #0e5d3c;

    --tier1-color: #0093FF;
    --tier2-color: #00BBA3;
    --tier3-color: #FFB900;
    --tier4-color: #9AA4AF;
    --tier5-color: #A88A67;
}