<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/community_write_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="/js/communityWriteScript.js"></script>
    <script src="https://cdn.tiny.cloud/1/digg1r45hnwpvnziectokoy8wzl63w48rw4t7rxio2tgwkue/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
<main>

    <div>
        <form method="post" action="/api/community/post/create">
            <div class="top-banner">
                <button id="back-button" type="button"><img src="/img/community/back-button.png"></button>

                <h1 class="writeText">게시글 작성</h1>
                <button id="complete-button" type="submit"><img src="/img/community/check.png"></button>
            </div>
            <select name="postCategory">
                <option value="" disabled selected hidden>채널 선택</option>
                <option value="자유게시판">자유게시판</option>
                <option value="칼럼게시판">칼럼게시판</option>
                <option value="건의게시판">건의게시판</option>
            </select>
            <input name="title" placeholder="제목">
            <div class="post-body">
                <div class="post-body-inner">
                    <div class="toolbar">
                            <!-- 텍스트 편집 기호 !-->
<!--                        <button type="button" onclick="openImageDialog()">-->
<!--                            <img src="/img/community/pictures.png">-->
<!--                        </button>-->
<!--                        <input type="file" id="imageInput" style="display:none" onchange="insertImage()">-->

<!--                        <button type="button">-->
<!--                            <img src="/img/community/b.png">-->
<!--                        </button>-->

<!--                        <button type="button">-->
<!--                            <img src="/img/community/italic-font.png">-->
<!--                        </button>-->
<!--                        <button type="button">-->
<!--                            <img src="/img/community/letter-h.png">-->
<!--                        </button>-->
<!--                        <button type="button">-->
<!--                            <img src="/img/community/text-editor.png">-->
<!--                        </button>-->
                    </div>

                    <textarea class="post-content" name="content" maxlength="2000"></textarea>
                </div>
            </div>
        </form>

    </div>


</main>
</body>
</html>