<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-community-style.css">
    <link rel="stylesheet" type="text/css" href="/css/community-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<!--상단 탭 fragment 붙여넣기-->
<header th:replace="~{community_navbar :: navbarFragment}"></header>
<div id="content">
    <div id="filterDiv">
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                전체
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">전체</a></li>
                <li><a class="dropdown-item" href="#">자유 게시판</a></li>
                <li><a class="dropdown-item" href="#">칼럼 게시판</a></li>
                <li><a class="dropdown-item" href="#">건의 게시판</a></li>
            </ul>
        </div>
        <div class="right-Icon">
            <a><img class="icon" src="/img/community/loupe.png" alt="검색">
            </a>
            <a href="community/write"> <img class="icon" src="/img/community/write.png" alt="글쓰기">
            </a>

        </div>
    </div>
    <!--추후에 기능 추가-->
    <!--    <div>-->
    <!--        <div class="filter firstFilter">최신</div>-->
    <!--        <div class="filter">인기</div>-->
    <!--        <div class="filter">TOP</div>s-->
    <!--    </div>-->
    <ul id="postul">
        <li th:each="post,iterStat: ${postList}" class="postli">
        <span class="recommend-tab">
            <img src="/img/community/up.png">
            <span th:text="${post.postScrapList.size()}"></span>
            <img src="/img/community/down.png">
        </span>
            <div class="postBox">
                <a class="postLink" th:text="${post.postTitle}"
                   th:href="@{/community/{postId}(postId=${post.postId})}"></a>
                <div class="underLink">
                    <span id="category" th:text="${post.postCategory}"></span>

<!--     현재 postList의 인덱스에 해당하는 포스트의 생성시간으로부터의 경과 표시 (ex.1시간 전)               -->
                    <span id="createdAt" th:text="${timeAgoList[iterStat.index]}"> </span>
                    <span id="author" th:text="${post.user.userNickname}"></span>
                </div>
            </div>

            <!-- Check if postPhotoList is not empty -->
            <img class="postImage" th:if="${not #lists.isEmpty(post.postPhotoList)}"
                 th:src="${post.postPhotoList.get(0).photoImgUrl}"/>

            <!-- Display a temporary image if postPhotoList is empty -->
            <img class="postImage" th:if="${#lists.isEmpty(post.postPhotoList)}"
                 th:src="@{/img/community/post_hidden.png}"/>

        </li>
    </ul>


</div>


</body>
</html>