<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-community-style.css">
    <link rel="stylesheet" type="text/css" href="/css/community-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="/js/community.js"></script>

</head>
<body>
<!--상단 탭 fragment 붙여넣기-->
<header th:replace="~{community_navbar :: navbarFragment}"></header>
<div id="content">
    <div id="filterDiv">
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span th:text="${postCategory}"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" th:href="@{/community}"
                       th:classappend="${postCategory == '전체' ? 'active' : ''}">전체</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='자유게시판')}"
                       th:classappend="${postCategory == '자유게시판' ? 'active' : ''}">자유 게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='칼럼게시판')}"
                       th:classappend="${postCategory == '칼럼게시판' ? 'active' : ''}">칼럼 게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='건의게시판')}"
                       th:classappend="${postCategory == '건의게시판' ? 'active' : ''}">건의 게시판</a></li>
            </ul>
        </div>
        <div class="right-Icon">
            <a href="community/write"><img class="icon" src="/img/community/write.png" alt="글쓰기"></a>
        </div>
    </div>
    <div>

        <a class="filter firstFilter"
           th:href="${'/community?sort=recent&postCategory=' + postCategory}">

            <img src="/img/community/recent-green.png" th:if="${sort.equals('recent')}"><img
                src="/img/community/recent.png" th:if="${sort.equals('popular')}">최신</a>
        <a class="filter"
           th:href="${'/community?sort=popular&postCategory=' + postCategory}">

            <img src="/img/community/fire-green.png" th:if="${sort.equals('popular')}"><img
                src="/img/community/fire.png" th:if="${sort.equals('recent')}">인기</a>
    </div>
    <ul id="postul">
        <li th:each="post,iterStat: ${paging}" class="postli">
        <span class="recommend-tab">
            <img src="/img/community/up.png">
            <span th:text="${post.likeCount}"></span>
        </span>
            <div class="postBox">
                <a class="postLink" th:text="${post.postTitle}"
                   th:href="@{/community/{postId}(postId=${post.postId})}"></a>
                <div class="underLink">
                    <span id="category" th:text="${post.postCategory}"></span>

                    <!--     현재 postList의 인덱스에 해당하는 포스트의 생성시간으로부터의 경과 표시 (ex.1시간 전)               -->
                    <span id="createdAt" th:text="${timeAgoList[iterStat.index]}"> </span>
                    <span id="author" th:text="${post.user.userNickname}"></span>
                </div>
            </div>

            <!-- 게시글에 사진이 있으면 썸네일 표시 -->
            <img class="postImage" th:if="${not #lists.isEmpty(post.postPhotoList)}"
                 th:src="${post.postPhotoList.get(0).photoImgUrl}"/>
        </li>
    </ul>


</div>


</body>


<div class="input-group">
    <input type="text" id="search_kw" class="form-control" th:value="${postSearchKw}">
    <button class="btn btn-outline-secondary" type="button" id="postSearch">찾기</button>
</div>

<!-- 페이징처리 시작 -->
<div class="page-controller" th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li th:if="${paging.hasPrevious}">
            <a class="move-link" th:href="@{'/community'(sort=${sort}, postCategory=${postCategory}, page=${paging.number-1})}">
                <span type="button"><img src="/img/community/left-arrow-gray.png">이전</span>
            </a>
        </li>
        <li th:if="${paging.hasNext}">
            <a class="move-link" th:href="@{'/community'(sort=${sort}, postCategory=${postCategory}, page=${paging.number+1})}">
                <span type="button">다음<img src="/img/community/right-arrow-gray.png"></span>
            </a>
        </li>
    </ul>
</div>

<!-- 페이징처리 끝 -->

<!-- 페이징처리 시작 -->
<!--<div class="page-controller" th:if="${!paging.isEmpty()}">-->
<!--    <ul class="pagination justify-content-center">-->
<!--        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">-->
<!--            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">-->

<!--                <span>이전</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"-->
<!--            th:if="${page >= paging.number-5 and page <= paging.number+5}"-->
<!--            th:classappend="${page == paging.number} ? 'active'"-->
<!--            class="page-item">-->
<!--            <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">-->
<!--            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">-->
<!--                <span>다음</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!-- 페이징처리 끝 -->

<form th:action="@{/community/search}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${postSearchKw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
    <input type="hidden" id="sort" name="sort" th:value="${sort}">
    <input type="hidden" id="postCategory" name="postCategory" th:value="${postCategory}">
</form>

</html>