<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>건메추</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/homeScript.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/home-style.css">
    <link rel="stylesheet" type="text/css" href="/navbar-style.css">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<!--상단 탭 fragment 붙여넣기-->
<header th:replace="~{navbar :: navbarFragment}"></header>

<!-- 하단 메인 컨텐츠 -->
<main class="container-fluid p-0 m-0">

    <section>
        <div class="container fluid">


            <!--  티어표 바로가기 텍스트 박스   -->

            <div class="text-center pt-2 mt-4">
                <div id="tierSign">티어표 바로가기</div>
            </div>
            <!--     이미지 버튼 모아둔 그리드      -->
            <div class="row row-cols-3 p-2">

                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=한식" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/bibimbap.png">
                        <div class="label position-absolute top-0 start-0">한식
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=일식" class="cell-button col-12 p-0">
                        <img class="img col-12" src="/home-images/tonkatsu.png">
                        <div class="label position-absolute top-0 start-0">일식
                        </div>

                    </a>
                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=중식" class="cell-button col-12 p-0"><img class="img col-12" src="/home-images/jajangmyeon.png">
                        <div class="label position-absolute top-0 start-0">중식
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=양식" class="cell-button col-12 p-0 "><img class="img col-12"
                                                            src="/home-images/spaguetti.png">
                        <div class="label position-absolute top-0 start-0">양식
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=아시안" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/ricenoodles.png">
                        <div class="label position-absolute top-0 start-0">아시안
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=햄버거/피자" class="cell-button col-12 p-0 "><img class="img col-12"
                                                            src="/home-images/fast-food.png">
                        <div class="label position-absolute top-0 start-0">햄버거/피자
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=분식" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/tteokbokki.png">
                        <div class="label position-absolute top-0 start-0">분식
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=고기" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/meat.png">
                        <div class="label position-absolute top-0 start-0">고기
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=치킨" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/fried-chicken.png">
                        <div class="label position-absolute top-0 start-0">치킨
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=해산물" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/shrimp.png">
                        <div class="label position-absolute top-0 start-0">해산물
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=술집" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/beer.png">
                        <div class="label position-absolute top-0 start-0">술집
                        </div>
                    </a>

                </div>

                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=카페/디저트" class="cell-button col-12 p-0"><img class="img col-12"
                                                           src="/home-images/coffee.png">
                        <div class="label position-absolute top-0 start-0">카페/디저트
                        </div>
                    </a>

                </div>
                <div class="cell col  position-relative">
                    <a href="/main/tier?cuisine=베이커리" class="cell-button col-12 p-0 "><img class="img col-12"
                                                            src="/home-images/bakery.png">
                        <div class="label position-absolute top-0 start-0">베이커리
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/main/tier?cuisine=기타" class="cell-button col-12 p-0 "><img class="img col-12"
                                                            src="/home-images/hot-dog.png">
                        <div class="label position-absolute top-0 start-0">기타
                        </div>
                    </a>

                </div>


            </div>
        </div>
    </section>


</main>

<footer>
</footer>


</body>
</html>