<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>건메추</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    <link rel="stylesheet" type="text/css" href="/css/home-style.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/css/navbar-style.css">-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/homeScript.js"></script>

<!--순서 지켜야함 -->
    <link rel="stylesheet" href="/css/test/vendors.min.css">
    <link rel="stylesheet" href="/css/test/icon.min.css">
    <link rel="stylesheet" href="/css/test/style.min.css">
    <link rel="stylesheet" href="/css/test/responsive.min.css">
    <link rel="stylesheet" href="/css/test/restaurant.css">
    <link rel="stylesheet" href="/css/home-style.css">
</head>



<body>
<!--상단 탭 fragment 붙여넣기-->
<header th:replace="~{newNavBar :: navbarFragment}"></header>

<!-- 하단 메인 컨텐츠 -->
<main class="container-fluid">

    <section>
        <div class="container fluid icon-grid">


            <!--     이미지 버튼 모아둔 그리드      -->
            <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 mt-6 p-2">

                <div class="cell col position-relative">
                    <a href="/tier?cuisine=한식" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/bibimbap.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=일식" class="cell-button col-12 p-0">
                        <img class="img col-12" src="/img/home/tonkatsu.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>

                    </a>
                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=중식" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/jajangmyeon.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=양식" class="cell-button col-12 p-0 "><img class="img col-12"
                                                                                    src="/img/home/spaguetti.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=아시안" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                    src="/img/home/ricenoodles.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=고기" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/meat.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=치킨" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/fried-chicken.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=해산물" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                    src="/img/home/shrimp.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=햄버거/피자" class="cell-button col-12 p-0 "><img class="img col-12"
                                                                                        src="/img/home/fast-food.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=분식" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/tteokbokki.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>


                <div class="cell col position-relative">
                    <a href="/tier?cuisine=술집" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                   src="/img/home/beer.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>

                <div class="cell col position-relative">
                    <a href="/tier?cuisine=카페/디저트" class="cell-button col-12 p-0"><img class="img col-12"
                                                                                       src="/img/home/coffee.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col  position-relative">
                    <a href="/tier?cuisine=베이커리" class="cell-button col-12 p-0 "><img class="img col-12"
                                                                                      src="/img/home/bakery.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>
                <div class="cell col position-relative">
                    <a href="/tier?cuisine=기타" class="cell-button col-12 p-0 "><img class="img col-12"
                                                                                    src="/img/home/hot-dog.png">
                        <div class="label position-absolute top-0 start-0">
                        </div>
                    </a>

                </div>


            </div>
        </div>
    </section>


</main>
<footer>

</footer>



</body>
</html>