<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건메추-마이페이지</title>

    <link rel="stylesheet" href="/css/mypage-style.css">
    <script src="/js/mypageScript.js"></script>
</head>
<body>

    <header>
        <div id="header">
            <img id="gobackBtn" src="/img/goback-icon.png">
            <p>마이페이지</p>
            <img id="homeBtn" src="/img/home-icon.png">
        </div>

        <div id="slideBox">
            <div class="slide-item">
                <p class="ad_text1">쉽게 확인해보는</p>
                <p class="ad_text2">건대맛집</p>
                <p class="ad_text1">순위!</p>
            </div>
        </div>
    </header>


    <div id="userInfo">
        <div id="userInfoLeft">
            <div id="userImg"></div>
            <p id="userNickname">사용자이름</p>
        </div>
        
        <div id="adjustBtnArea">
            <img id="adjustBtn" src="/img/btn1.jpg">
        </div>
    </div>


    <div id="mainContents">
        <div class="menu_area">
            <div class="menu_header">
                <p class="menu_title">맛집티어 메뉴</p>
            </div>
            <div class="menu_lists">
                <ul>
                    <li><a href=""></a><img class="icon" src="/img/rating_icon.png">내가 평가한 맛집</a></li>
                    <li><a href=""><img class="icon" src="/img/comment_icon.png">내가 댓글단 맛집</a></li>
                    <li><a href=""><img class="icon" src="/img/favorite_icon.png">내가 저정한 맛집</a></li>
                </ul>
            </div>
        </div>

        <div class="menu_area">
            <div class="menu_header">
                <p class="menu_title">커뮤니티 메뉴</p>
            </div>
            <div class="menu_lists">
                <ul>
                    <li><a href=""><img class="icon" src="/img/mypage/list_icon.png">내가 작성한 글</a></li>
                    <li><a href=""><img class="icon" src="/img/comment_icon.png">내가 댓글단 글</a></li>
                    <li><a href=""><img class="icon" src="/img/thumb_icon.png">내가 좋아요한 글</a></li>
                </ul>
            </div>
        </div>

        <div class="menu_area">
            <div class="menu_header">
                <p class="menu_title">문의사항</p>
            </div>
            <div class="menu_lists">
                <ul>
                    <li><a href=""><img class="icon" src="/img/cs_icon.png">고객센터</a></li>
                    <li><a href=""><img class="icon" src="/img/setting_icon.png">설정</a></li>
                </ul>
            </div>
        </div>

    </div>
    
</body>

</html>