<!--상단 탭-->
<header th:fragment="navbarFragment" class="sticky-active">
    <style>
        #myPage {
            width: 40px;
            height: 40px;
        }
        /* 커서 없애기 */

    </style>
    <nav class="navbar navbar-expand-lg header-light header-reverse"
         data-header-hover="light" style="background-color: white;opacity: 0.9;">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="/home">
                    <script type="text/javascript" style="display:none">
                        //<![CDATA[
                        window.__mirage2 = {petok: "E5U2MX_72TJ6zGrnnrl16NRJf7wB8JKtWT5ha.GflxI-3600-0"};
                        //]]>
                    </script>
                    <script type="text/javascript"
                            src="https://ajax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js"></script>
                    <img src="/img/home/restaurant-logo.webp" data-at2x="/img/home/restaurant-logo2x.webp" alt=""
                         class="default-logo">
                    <img src="/img/home/restaurant-logo.webp" data-at2x="/img/home/restaurant-logo2x.webp" alt=""
                         class="alt-logo">
                    <img src="/img/home/restaurant-logo.webp" data-at2x="/img/home/restaurant-logo2x.webp" alt=""
                         class="mobile-logo">
                    <!--                        <img data-cfsrc="images/demo-restaurant-logo-black.png" data-at2x="images/demo-restaurant-logo-black@2x.png" alt="" class="alt-logo" src="images/demo-restaurant-logo-black@2x.png" width="0" height="0">-->
                    <!--                        <img data-cfsrc="images/demo-restaurant-logo-black.png" data-at2x="images/demo-restaurant-logo-black@2x.png" alt="" class="mobile-logo" src="images/demo-restaurant-logo-black@2x.png" width="0" height="0">-->
                </a>
            </div>
            <div class="col-auto menu-order position-static">
                <button class="navbar-toggler float-start collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="#navbarNav-clone" aria-label="Toggle navigation"
                        data-target="#navbarNav-clone" aria-expanded="false">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav alt-font ls-1px pb-0" style="gap:10px;">
                        <li class="nav-item" th:classappend="${currentPage == 'home' ? 'active' : ''}"><a href="/home"
                                                                                                          class="nav-link">Home</a>
                        </li>
                        <li class="nav-item" th:classappend="${currentPage == 'recommend' ? 'active' : ''}"><a
                                href="/recommend" class="nav-link">Menu Recommend</a></li>
                        <li class="nav-item" th:classappend="${currentPage == 'tier' ? 'active' : ''}"><a href="/tier"
                                                                                                          class="nav-link">Tier</a>
                        </li>
                        <li class="nav-item" th:classappend="${currentPage == 'community' ? 'active' : ''}"><a
                                href="/community" class="nav-link">Community</a></li>
                    </ul>

                    <!-- 로그인 버튼을 네비게이션 리스트 안에 추가 -->
                    <ul class="navbar-nav pt-0">
                        <li class="nav-item d-lg-none alt-font ls-1px"> <!-- d-lg-none 클래스는 큰 화면에서는 이 요소를 숨깁니다 -->
                            <a sec:authorize="isAnonymous()" href="/user/login" class="nav-link">Login</a>
                            <a sec:authorize="isAuthenticated()" href="/user/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-auto col-lg-2 text-end d-none d-sm-flex">
                <!-- 우측 상단 아이콘 모음 !-->
                <div class="header-icon">
                    <div class="header-button" style="display: flex; justify-content:center;">
<!--                        <form class="search-form" action="/search" style="display: flex; gap:8px;">-->
<!--                            <input id="search" name="kw" type="text" th:value="${kw}"-->
<!--                                   style="display: none; caret-color: black;">-->
<!--                            &lt;!&ndash;    검색 버튼      &ndash;&gt;-->
<!--                            <button id="btn_search" class="search-btn" type="button"-->
<!--                                    style="border: none;background-color: transparent;">-->
<!--                                <img id=searchIcon-->
<!--                                     src="/img/home/search.png">-->
<!--                            </button>-->

<!--                        </form>-->
                        <!--마이 페이지 버튼-->
                        <a class="link" href="/user/myPage" sec:authorize="isAuthenticated()">
                            <img id="myPage" src="/img/home/account.png">
                        </a>
                        <!-- 로그인 버튼 !-->
                        <a href="/user/login" sec:authorize="isAnonymous()"
                           class="btn btn-dark-gray btn-small btn-box-shadow left-icon btn-switch-text btn-rounded border-1"
                        >

<span>
<span class="btn-double-text" data-text="Login">Login</span>

</span>
                        </a>
<!--                        <a href="/user/logout" sec:authorize="isAuthenticated()"-->
<!--                           class="btn btn-dark-gray btn-small btn-box-shadow left-icon btn-switch-text btn-rounded border-1">-->
<!--<span>-->
<!--<span class="btn-double-text" data-text="Logout">Logout</span>-->

<!--</span>-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchButton = document.getElementById('btn_search');
            var searchInput = document.getElementById('search'); // 입력 필드 ID를 "search"로 변경
            var searchForm = document.querySelector('.search-form'); // form 선택자를 class 기반으로 변경

            searchButton.addEventListener('click', function (event) {
                event.preventDefault(); // 폼 제출 방지
                // 검색 입력창이 이미 표시된 경우
                if (searchInput.style.display === 'block' || searchInput.style.display === '') {
                    // 입력값이 있는 경우 폼 제출
                    if (searchInput.value.trim()) { // 입력값이 있으면 폼 제출
                        searchForm.submit();
                    } else {
                        // 입력값이 없으면 검색창 숨김
                        searchInput.style.display = 'none';
                    }
                } else {
                    // 검색 입력창이 숨겨져 있는 경우 표시
                    searchInput.style.display = 'block';
                    // searchInput.focus(); // 사용자가 바로 입력할 수 있도록 포커스 설정
                }
            });
            // 검색 입력창에 포커스가 맞춰질 때 실행되는 이벤트
            searchInput.addEventListener('focus', function () {
                this.value = ''; // 입력창의 값을 비움
            });
        });


    </script>
</header>
