<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>맛집텨 티어표</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/restaurant-style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/navbar-style.css">
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
                charset="utf-8"></script>
        <script src="/js/restaurantScript.js" defer></script>
        <script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gifrujmoep"></script>
    </head>
    <body>
        <header th:replace="~{navbar :: navbarFragment}"></header>
        <!-- <header>
            <div class="header-top">
                <a class="logo" href="/">
                    <img src="resources/img/logo.png" alt="건메추">
                </a>
                <div class="login">
                    <a class="login-button" href="/login">로그인</a>
                </div>
            </div>
            <div class="header-middle">
                <div class="search-outer">
                    <div class="search-box">
                        <div>
                            <form class="search-form">
                                <div class="search-wrapper">
                                    <input id="search" name="search" autocomplete="off" type="text" value>
                                </div>
                                <button class="search-btn" type="submit">
                                    검색
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="menu-outer">
                    <nav class="menu">
                        <ul class="menu-list">
                            <li class="menu-item-first">
                                <a href="/home">
                                    <div data-key="HOME" class="home non-clicked">홈</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/tier">
                                    <div data-key="TIER" class="tier clicked">티어표</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/rank">
                                    <div data-key="RANK" class="rank non-clicked">순위</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/community">
                                    <div data-key="COMMUNITY" class="community non-clicked">커뮤니티</div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header> -->
        <div class="outer-container" id="outerContainer">
            <div class="inner-container">
                <div class="basic-info left-justified">
                    <img id="mainImg" src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20200523_203%2F1590209976906oa3TH_JPEG%2Fk7Xe41SBMJPF9nly774jDDQh.jpg">
                    <div class="texts left-justified">
                        <div id="restaurantNameOuter">
                            <div id="restaurantName">
                                제주곤이칼국수 건대점
                            </div>
                            <div id="favoriteContainer">
                                <img id="favoriteImg" class="before-favorite" src="https://s-lol-web.op.gg/images/icon/icon-bookmark.svg?v=1702977255104">
                            </div>
                        </div>
                        <span id="restaurantType">칼국수,만두</span>
                        <span id="restaurantAddress">서울 광진구 능동로13길 12</span>
                        <span id="restaurantTel">0507-1449-3433</span>
                    </div>
                </div>
                <div>
                    <div class="tier-info left-justified" id="tierInfoContainer">
                        
                    </div>
                </div>
                <div class="stats-info">
                    <div class="stat-data" style="margin-right: 10px;">
                        <div class="stat-name">페이지 방문 횟수</div>
                        <div id="statVisitors" class="stat-value">1231회 (상위 12.2%)</div>
                    </div>
                    <div class="stat-data">
                        <div class="stat-name">평가 데이터 개수</div>
                        <div id="statDatas" class="stat-value">132개 (상위 24.0%)</div>
                    </div>
                </div>
            </div>
            <div id="menuContainer" class="inner-container">
                <div class="section-title">메뉴</div>
                <div id="menuInfoContainer"></div>
                <div id="menuUnfoldButton" class="unfold-button">펼치기</div>
            </div>
            <div id="mapContainer" class="inner-container">
                <div id="map"></div>
                <div id="mapUnfoldButton" class="unfold-button">펼치기</div>
            </div>
            <button class="inner-container evaluation-button button">평가하기</button>
            <div class="inner-container">
                <div class="section-title">댓글</div>
                <div class="input-container">
                    <textarea id="commentInput" placeholder="식당에 대한 댓글을 남겨주세요."></textarea>
                    <button class="button evaluation-button">등록</button>
                </div>
            </div>
        </div>
    </body>
</html>