<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>맛집텨 티어표</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/restaurant-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar-unselected-style.css">
    <!-- Thymeleaf를 통해 서버 측에서 전달된 데이터를 JavaScript 파일에 전달 -->
    <script th:inline="javascript">
        const restaurantMenus = /*[[${menus}]]*/ [];
        const initialDisplayMenuCount = /*[[${initialDisplayMenuCount}]]*/ [];
    </script>
    <script src="/js/restaurantScript.js" defer></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gifrujmoep"></script>
</head>
<body>
<header th:replace="~{navbar_unselected :: navbarFragment}"></header>

<div class="outer-container" id="outerContainer">
    <div class="inner-container">
        <div class="basic-info left-justified">
            <img id="mainImg" th:src="${restaurant.restaurantImgUrl}">
            <div class="texts left-justified">
                <div id="restaurantNameOuter">
                    <div id="restaurantName" th:text="${restaurant.restaurantName}">

                    </div>
                    <div id="favoriteContainer">
                        <img id="favoriteImg" th:class="${isFavoriteExist} ? 'after-favorite' : 'before-favorite'"
                             th:src="${isFavoriteExist} ? 'https://s-lol-web.op.gg/images/icon/icon-bookmark-on-w.svg?v=1702977255104' : 'https://s-lol-web.op.gg/images/icon/icon-bookmark.svg?v=1702977255104'">
                    </div>
                </div>
                <span id="restaurantType" th:text="${restaurant.restaurantType}"></span>
                <span id="restaurantAddress" th:text="${restaurant.restaurantAddress}"></span>
                <span id="restaurantTel" th:text="${restaurant.restaurantTel}"></span>
            </div>
        </div>
        <div>
            <div class="tier-info left-justified" id="tierInfoContainer">

            </div>
        </div>
        <div class="stats-info">
            <div class="stat-data" style="margin-right: 10px;">
                <div class="stat-name">페이지 방문 횟수</div>
                <div id="statVisitors" class="stat-value">1231회 (상위 12.2%)</div>
            </div>
            <div class="stat-data">
                <div class="stat-name">평가 데이터 개수</div>
                <div id="statDatas" class="stat-value">132개 (상위 24.0%)</div>
            </div>
        </div>
    </div>
    <div id="menuContainer" class="inner-container" th:if="${#lists.size(menus) > 1 || menus[0].menuName != 'no_menu'}">
        <div class="section-title">메뉴</div>
        <div id="menuInfoContainer">
            <ul class="menu-ul" id="menuUL">
                <li th:each="menu, iterStat : ${menus}" th:if="${iterStat.index < initialDisplayMenuCount}">
                    <img th:if="${menu.naverType eq 'type1' or menu.naverType eq 'type3'}" th:src="${menu.menuImgUrl}" alt="menu img">
                    <div class="menu-text-container">
                        <div class="menu-name" th:text="${menu.menuName}"></div>
                        <div class="menu-price">
                            <em th:text="${menu.menuPrice.substring(0, menu.menuPrice.length())}"></em>
                            <span>원</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="menuUnfoldButton" class="unfold-button" th:if="${#lists.size(menus) > 3}">펼치기</div>
    </div>
    <div id="mapContainer" class="inner-container">
        <div id="map"></div>
        <div id="mapUnfoldButton" class="unfold-button">펼치기</div>
    </div>

    <a class="inner-container evaluation-button button" th:href="@{/evaluation/{restuarantId}(restuarantId=${restaurant.restaurantId})}" th:text="${evaluationButton}"></a>
    <div class="comment-container">
        <div class="section-title">댓글</div>
        <div class="input-container">
            <div>
                <textarea id="commentInput" placeholder="식당에 대한 댓글을 남겨주세요."></textarea>
                <span id="commentAlert"></span>
            </div>
            <button class="button evaluation-button" onclick="sendComment()">등록</button>
        </div>
        <div class="sort-toggle-buttons">
            <button id="button1" class="active" onclick="toggleButton(1)">인기순</button>
            <button id="button2" onclick="toggleButton(2)">최신순</button>
        </div>
    </div>
    <div class="comment-list-container">
        <ul id="commentList">
            <li th:each="restaurantComment : ${restaurantComments}">
                <div class="like-div">
                    <button class="comment-up" type="button" onclick="commentLike(this)" th:data-id="${restaurantComment[0].commentId}">
                        <img th:if="${restaurantComment[2]}" src="/img/community/up-green.png">
                        <img th:unless="${restaurantComment[2]}" src="/img/community/up.png">
                    </button>
                    <span th:text="${restaurantComment[1]}"></span>
                    <button class="comment-down" type="button" onclick="commentDislike(this)" th:data-id="${restaurantComment[0].commentId}">
                        <img th:if="${restaurantComment[3]}" src="/img/community/down-red.png">
                        <img th:unless="${restaurantComment[3]}" src="/img/community/down.png">
                    </button>
                </div>
                <div class="body-div">
                    <div class="nick-date-div">
                        <span class="nick-span" th:text="${restaurantComment[0].getUser.getUserNickname()}"></span>
                        <span class="date-span" th:text="${restaurantComment[0].getCreatedAt()}"></span>
                    </div>
                    <div class="real-comment-container">
                        <span th:text="${restaurantComment[0].getCommentBody()}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<!-- 자바스크립트 데이터 전달용 태그 -->
<div id="restaurantInfo"
     th:attr="data-name=${restaurant.restaurantName}, data-latitude=${restaurant.restaurantLatitude}, data-longitude=${restaurant.restaurantLongitude}">
</div>

</html>