<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/navbar-unselected-style.css">
    <link rel="stylesheet" type="text/css" href="/css/searchResult-style.css">

</head>

<body>
<header th:replace="~{navbar_unselected :: navbarFragment}"></header>

<div class="container-fluid">
    <table class="tier-table">

        <thead>
        <tr>
            <th scope="col">순위</th>
            <th scope="col">이름</th>
            <th scope="col">티어</th>
            <th scope="col">종류</th>
            <th scope="col">상황</th>
            <th scope="col">카테고리</th>
        </tr>
        </thead>
        <tbody id="tierTableBody">
        <tr th:each="restaurant,loop :${paging}">
            <td th:text="0"></td>
            <td>
                <a class="restaurant-link"
                   th:href="@{/restaurants/{restaurantId}(restaurantId=${restaurant.restaurantId})}"
                   th:text="${restaurant.restaurantName}"></a>

            </td>
            <td th:text="0"></td>
            <td th:text="${restaurant.restaurantCuisine}"></td>
            <td th:text="0"></td>
            <td th:text="${restaurant.restaurantType}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--페이지 컨트롤러 -->
<!-- 서버는 페이지에 대해 0 인덱싱 사용, html에서는 1 인덱싱 사용-->
<div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-3 and page <= paging.number+3}"
            th:classappend="${page == paging.number} ? 'active'" class="page-item">
            <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
</body>

<!-- 페이징처리 끝 -->

<!--서버에 검색 버튼을 눌러 요청할때 키워드 값과 페이지 값 넘기기-->
<form th:action="@{/api/search}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>
<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            // 서버에서는 0 인덱싱 사용
            document.getElementById('page').value =  parseInt(this.dataset.page)
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search').value;
        console.log(document.getElementById('search').value)
        console.log(document.getElementById('kw').value)

        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>