<!DOCTYPE html>
<html xmlns:data-cuisine="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>건메추</title>
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/css/navbar-style.css">-->

    <!-- 아이콘  -->
    <script src="https://kit.fontawesome.com/0c60714712.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- 탭 관련 라이브러리 / 순서 지켜야함 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/library/vendors.min.css">
    <link rel="stylesheet" href="/css/library/icon.min.css">
    <link rel="stylesheet" href="/css/library/style.min.css">
    <link rel="stylesheet" href="/css/library/responsive.min.css">
    <link rel="stylesheet" href="/css/library/restaurant.css">
    <link rel="stylesheet" type="text/css" href="/css/tier-style.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/tierScript.js"></script>


</head>
<body>
<header th:replace="~{fragment :: navbarFragment}"></header>
<section th:replace="~{fragment::tierFragment}"></section>
<button id="scrollTopBtn" style="display: none;"><img src="/img/up-arrow.png"></button>
<div class="category" id="categoryWindow">
    <div class="category-background" id="categoryBackground">
        <div class="category-top">
            <span class="category-text" id="categoryText">카테고리</span>
            <input id="categoryCheckBtn" type="checkbox" checked/>
            <label for="categoryCheckBtn" id="categoryLabel" class="category-check-btn">
                        <span id="categoryCheckBtnText" class="category-check-btn-text">
                            접기　
                        </span>
                <span id="categoryCheckBtnArrow">▼</span>
            </label>
        </div>
        <div class="category-list" id="categoryList">
            <div class="cuisine">
                <span class="text">종류</span>
                <div class="buttons scrollable">
                    <a th:class="${cuisine == '전체' ? 'selected button category' : 'unselected button category'}" data-cuisine="전체">
                        <img src="/img/tier/all.png">
                        <span class="cuisine-link">전체</span>
                    </a>
                    <a th:class="${cuisine == '한식' ? 'selected button category' : 'unselected button category'}" data-cuisine="한식">
                        <img src="/img/tier/cuisine/한식.png">
                        <span class="cuisine-link">한식</span>
                    </a>
                    <a th:class="${cuisine == '일식' ? 'selected button category' : 'unselected button category'}" data-cuisine="일식">
                        <img src="/img/tier/cuisine/일식.png">
                        <span class="cuisine-link">일식</span>
                    </a>
                    <a th:class="${cuisine == '중식' ? 'selected button category' : 'unselected button category'}" data-cuisine="중식">
                        <img src="/img/tier/cuisine/중식.png">
                        <span class="cuisine-link">중식</span>
                    </a>
                    <a th:class="${cuisine == '양식' ? 'selected button category' : 'unselected button category'}" data-cuisine="양식">
                        <img src="/img/tier/cuisine/양식.png">
                        <span class="cuisine-link">양식</span>
                    </a>
                    <a th:class="${cuisine == '아시안' ? 'selected button category' : 'unselected button category'}" data-cuisine="아시안">
                        <img src="/img/tier/cuisine/아시안.png">
                        <span class="cuisine-link">아시안</span>
                    </a>
                    <a th:class="${cuisine == '고기' ? 'selected button category' : 'unselected button category'}" data-cuisine="고기">
                        <img src="/img/tier/cuisine/고기.png">
                        <span class="cuisine-link">고기</span>
                    </a>
                    <a th:class="${cuisine == '치킨' ? 'selected button category' : 'unselected button category'}" data-cuisine="치킨">
                        <img src="/img/tier/cuisine/치킨.png">
                        <span class="cuisine-link">치킨</span>
                    </a>
                    <a th:class="${cuisine == '해산물' ? 'selected button category' : 'unselected button category'}" data-cuisine="해산물">
                        <img src="/img/tier/cuisine/해산물.png">
                        <span class="cuisine-link">해산물</span>
                    </a>
                    <a th:class="${cuisine == '햄버거/피자' ? 'selected button category' : 'unselected button category'}" data-cuisine="햄버거/피자">
                        <img src="/img/tier/cuisine/햄버거.png">
                        <span class="cuisine-link">햄버거/피자</span>
                    </a>
                    <a th:class="${cuisine == '분식' ? 'selected button category' : 'unselected button category'}" data-cuisine="분식">
                        <img src="/img/tier/cuisine/분식.png">
                        <span class="cuisine-link">분식</span>
                    </a>
                    <a th:class="${cuisine == '술집' ? 'selected button category' : 'unselected button category'}" data-cuisine="술집">
                        <img src="/img/tier/cuisine/술집.png">
                        <span class="cuisine-link">술집</span>
                    </a>
                    <a th:class="${cuisine == '카페/디저트' ? 'selected button category' : 'unselected button category'}" data-cuisine="카페/디저트">
                        <img src="/img/tier/cuisine/카페.png">
                        <span class="cuisine-link">카페/디저트</span>
                    </a>
                    <a th:class="${cuisine == '베이커리' ? 'selected button category' : 'unselected button category'}" data-cuisine="베이커리">
                        <img src="/img/tier/cuisine/베이커리.png">
                        <span class="cuisine-link">베이커리</span>
                    </a>
                    <a th:class="${cuisine == '기타' ? 'selected button category' : 'unselected button category'}" data-cuisine="기타">
                        <img src="/img/tier/cuisine/기타.png">
                        <span class="cuisine-link">기타</span>
                    </a>
                </div>
            </div>

            <div class="situation">
                <span class="text">상황</span>
                <div class="buttons scrollable">
                    <a th:class="${situation == '전체' ? 'selected button category' : 'unselected button category'}" data-situation="전체">
                        <img src="/img/tier/all.png">
                        <span>전체</span>
                    </a>
                    <a th:class="${situation == '혼밥' ? 'selected button category' : 'unselected button category'}" data-situation="ONE">
                        <img src="/img/tier/person.png">
                        <span>혼밥</span>
                    </a>
                    <a th:class="${situation == '2~4인' ? 'selected button category' : 'unselected button category'}" data-situation="TWO">
                        <img src="/img/tier/people.png">
                        <span>2~4인</span>
                    </a>
                    <a th:class="${situation == '5인 이상' ? 'selected button category' : 'unselected button category'}" data-situation="THREE">
                        <img src="/img/tier/5more.png">
                        <span>5인 이상</span>
                    </a>
                    <a th:class="${situation == '단체 회식' ? 'selected button category' : 'unselected button category'}" data-situation="FOUR">
                        <img src="/img/tier/crowd.png">
                        <span>단체 회식</span>
                    </a>
                    <a th:class="${situation == '배달' ? 'selected button category' : 'unselected button category'}" data-situation="FIVE">
                        <img src="/img/tier/delivery.png">
                        <span>배달</span>
                    </a>
                    <a th:class="${situation == '야식' ? 'selected button category' : 'unselected button category'}" data-situation="SIX">
                        <img src="/img/tier/night.png">
                        <span>야식</span>
                    </a>
                    <a th:class="${situation == '친구 초대' ? 'selected button category' : 'unselected button category'}" data-situation="SEVEN">
                        <img src="/img/tier/friend.png">
                        <span>친구 초대</span>
                    </a>
                    <a th:class="${situation == '데이트' ? 'selected button category' : 'unselected button category'}" data-situation="EIGHT">
                        <img src="/img/tier/dating.png">
                        <span>데이트</span>
                    </a>
                    <a th:class="${situation == '소개팅' ? 'selected button category' : 'unselected button category'}" data-situation="NINE">
                        <img src="/img/tier/blind-date.png">
                        <span>소개팅</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="tierChartMain">
    <table class="tier-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">순위</th>
            <th scope="col" style="min-width: 50px"></th>
            <th scope="col" style="text-align: left;">식당</th>
            <th scope="col">티어</th>
            <th scope="col" style="text-align: left;">종류</th>
            <th scope="col" style="text-align: left;" id="th-situation">상황</th>
        </tr>
        </thead>
        <tbody id="tierTableBody">
        <tr th:each="restaurant,loop :${paging}" th:onclick="'window.location.href = \'' + @{/restaurants/{restaurantId}(restaurantId=${restaurant.restaurantId})} + '\''">
            <td class="td-rank" th:text="${loop.index + 1}" style="min-width: 32px"></td>
            <td class="td-center" style="min-width: 58px">
                <img th:if="${restaurant.restaurantImgUrl != 'no_img'}" class="td-main-img" th:src="${restaurant.getRestaurantImgUrl()}">
                <img th:if="${restaurant.restaurantImgUrl == 'no_img'}" class="td-main-img" src="/img/restaurant/no_img.png">
            </td>
            <td class="td-name">
                <div class="td-name-outer">
                    <span class="td-inner-name" th:text="${restaurant.getRestaurantName()}"></span>
                    <span class="td-inner-type" th:text="${restaurant.getRestaurantType()}"></span>
                </div>
            </td>
            <td class="td-center" style="min-width: 42px">
                <img class="td-tier-img" th:src="${restaurant.getTierImgUrl(3)}">
            </td>
            <td style="min-width: 46px">
                <div class="td-cuisine-outer">
                    <img class="td-cuisine-img" th:src="${restaurant.getCuisineImgUrl(restaurant.getRestaurantCuisine())}">
                    <span class="td-cuisine-span" th:text="${restaurant.getRestaurantCuisine()}"></span>
                </div>
            </td>
            <td class="td-situation" th:text="${restaurant.restaurantType}"></td>
        </tr>
        </tbody>
    </table>

</main>
</body>

<!--페이지 컨트롤러-->
<div th:replace="~{fragment::page-controller}"></div>
<!--footer-->
<footer th:replace="~{fragment::footerFragment}">
</footer>

</html>